*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p,
ol,
ul {
  margin: 0;
}

body {
  min-width: 320px;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  border: 0;
  background: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
}

a {
  color: inherit;
}

img,
svg,
canvas {
  display: block;
}

img {
  max-width: 100%;
}

ul,
ol {
  padding: 0;
  list-style: none;
}
